@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}
.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    clip-path: circle(120px at center);
    transition: 0.5s ease;
}
.card .circle:hover:before {
    background: #0865A2;
    clip-path: circle(400px at center);
    border-radius: 10px;
}
.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s ease;
}
.card:hover img {
    left: 72%;
    height: 500px;

}
.card .content {
    position: relative;
    width: 50%;
    left: 20%;
    top: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    color: #fff;
}
.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}
.card .content h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}
.card .content p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.card .content a {
    padding: 10px 20px;
    background: #ccc;
    color:#0865A2;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: .5s ease;
}
.card:hover .content a:hover {
    transform: scale(1.18);
}